body {
	background-color: white;
	margin: 0px;
	display: flex;
	justify-content:center;
	align-items:center;
	overflow:scroll;
	overflow-x:hidden;
	flex-direction:column;
}



header{
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	height:10%;
	background-color:#0B9D49;
	display:flex;
	justify-content:center;
	align-items:center;
	margin:0px;
	margin-bottom:50px;
	z-index:2;
}





footer {
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height:10%;
	background-color: #0B9D49;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px;
	z-index: 2;
}

footer a{
	text-decoration:none;
	color:#F1C40F;
	font-weight:bold;
	
}

/* menu exemple */


.ml{
	position:fixed;
	left:40px;
}
.cn{
	position:fixed;
	right:40px;
	font-weight:bold;
	

}

.ml , .cn{
	font-size:2em;
}

.logo{
	height:65%;

}


/* menuUn css */


.hu{
	margin-top:155px;
	width:80%;
	height:100%;
	border:1px solid black;
	margin-bottom:190px;
	display:flex;
	justify-content:center;
	flex-wrap:wrap;


}

.hu section{
	width:30%;
	height:45%;
	border:1px solid blue;
	min-height:590px;
	min-width:350px;
	margin-left:5%;
	margin-right:5%;
	margin-top:2%;
	margin-bottom:2%;
	display:flex;
	align-items:center;
	justify-content:center;
	flex-direction:column;
}
.mainPro{
	display:flex;
	justify-content:center;
	width:100%;

}
.pro{
	width:150px;
	height:50px;
	background-color:#0B9D49;
	border:0px solid #F1C40F;
	color:#F1C40F;
	font-weight:bold;
	border-radius:14px;
}


/* mise en page index les menus textuelles et images*/

#menuUn{
	margin-bottom:10px;
	height:75%;
	background-color:grey;
	display:flex;
	flex-direction:column;
	align-items:center;
}

#menuUn img{
	width:10%;
}

.menuExemple{
	margin-top:10%;
	margin-bottom:100px;
	display:flex;
	flex-direction:column;
	align-items:center;
	width:55%; 
}

#menuPlat{
/* instructions */
	display:flex;
	flex-direction:column;
	align-items:center;
	width:100%;

}

.dernierSectionMenu{
	display:flex;
	flex-direction:column;
	align-items:center;
	width:100%;
}

.dernierSectionMenu p{
	font-size:10px;
	flex-wrap:nowrap;
	margin-right:13%;
		margin-bottom:6px;
	margin-top:6px;
}

#menuPlat p{
	font-size:10px;
	flex-wrap:nowrap;
	margin-bottom:6px;
	margin-top:6px;
}

#menuPlat span{
	padding-left:30px;
}
/*  */





#menuUn h2{
	margin:10px;
}


#menuUn #logoIc{
	margin-top:40px;
}



.ligne{
	width:35%;
	height:4px;
	background-color:black;
	margin-right:30px;
	margin-left:30px;
}


/* ligne Titre */
#ligneTitrePlat{
	display:flex;
	flex-direction:row;
}

hr{
	width:100%;
	min-width:100px;
	height:2px;
	background-color:white;
	border:none;
	color:white;
	margin-left:15px;
	margin-right:15px;
}





.precision{
	margin-top:20px;
	display:flex;
	flex-direction:row;
	align-items:center;
	max-height:52px;
	height:52px;
}

.precision img{
	margin-right:15px;
}

/*                                          */











/* effet css */

.grow { 
	transition: all .2s ease-in-out; 
}

.grow:hover { 
	transform: scale(1.05);
	opacity:0.6;
}