body {
	background-color: white;
	margin: 0px;
	display: flex;
	justify-content:center;
	overflow:scroll;
	overflow-x:hidden;
}



header{
	position:fixed;
	top:0px;
	left:0px;
	right:0px;
	height:125px;
	background-color:#0B9D49;
	display:flex;
	justify-content:center;
	align-items:center;
	margin:0px;
	margin-bottom:50px;
	z-index:2;
}





footer {
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 70px;
	background-color: #0B9D49;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px;
	z-index: 2;
}

footer a{
	text-decoration:none;
	color:#F1C40F;
	font-weight:bold;
	font-size:1.2rem;
}

.ml{
	position:fixed;
	left:40px;
}
.cn{
	position:fixed;
	right:40px;

}

.logo{
	height:65%;

}


/* menuUn css */


.hu{
	margin-top:155px;
	width:80%;
	height:100%;
	border:1px solid black;
	margin-bottom:100px;
	display:flex;
	justify-content:center;
	flex-wrap:wrap;

}

.hu section{
	width:35%;
	height:45%;
	border:1px solid blue;
	min-height:650px;
	min-width:450px;
	margin-left:5%;
	margin-right:5%;
	margin-top:2%;
	margin-bottom:2%;
	display:flex;
	align-items:center;
	justify-content:center;
	flex-direction:column;
}

