#menuUn{
	bottom:90px;
	margin-bottom:10px;
	width:30%;
	min-width:530px;
	min-height:750px;
	height:75%;
	background-color:grey;
	display:flex;
	flex-direction:column;
	align-items:center;
}

#menuUn h2{
	margin:10px;
}


#menuUn #logoIc{
	margin-top:40px;
}

.menuExemple{
	margin-top:230px;
	margin-bottom:100px;
	display:flex;
	flex-direction:column;
	align-items:center; 
}

.ligne{
	width:35%;
	height:4px;
	background-color:black;
	margin-right:30px;
	margin-left:30px;
}


/* ligne Titre */
#ligneTitrePlat{
	display:flex;
	flex-direction:row;
}

hr{
	width:185px;
	min-width:100px;
	height:2px;
	background-color:white;
	border:none;
	color:white;
	margin-left:15px;
	margin-right:15px;
}
#menuPlat{
/* instructions */
}

.dernierSectionMenu{
	width:100%;
}

.dernierSectionMenu p{
	margin-left:40px;
}
#menuPlat span{
	margin-left:40px;
}

#menuPlat p{
	text-align:left;
}


.precision{
	margin-top:20px;
	display:flex;
	flex-direction:row;
	align-items:center;
	max-height:52px;
	height:52px;
}

.precision img{
	margin-right:15px;
}